



body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #cad3dd;
    background-color: rgb(5, 5, 5)
}


button {
    width: 75px;
    height: 25px;
    border-radius: 8px;
    color: rgb(209, 209, 221);
    background-color: rgb(194, 48, 48);
    font-size: 15px;
    font-style: bold;
    margin: 20px 10px;
}

#submit{
    float: right;
    width: 125px;
    height: 25px;
    border-radius: 8px;
    color: rgb(203, 203, 218);
    background-color: rgb(194, 48, 48);
    font-size: 15px;
    font-style: bold;
    margin: 30px 10px;
} 


#instrument_text{
    float: right;
    width: 125px;
    height: 23px;
    border-radius: 8px;
    color: rgb(208, 208, 223);
    background-color: rgb(126, 113, 113);
    font-size: 15px;
    font-style: bold;
    margin: 30px 10px;
} 


